In [4]:
import spinfoam as sf

In [5]:
sf.load_spinfoam_library("/home/frisus95/Scrivania/Final_project/lib/libspinfoam.so")

In [9]:
sf.Metropolis_Hastings_run(2, 100000, 0.3, 10, 0)

done. Time elapsed: 1.685622 seconds.
53%% of draws have been accepted
chain with dspin 2 destroyed

In [ ]:
from ctypes import *
so_file = "/home/frisus95/Scrivania/Final_project/lib/libshared.so"
my_functions = CDLL(so_file)

In [2]:
pwd

'/home/frisus95/Scrivania/Final_project'

In [9]:
my_functions._Z6MH_runPcS_iidii(b"/home/frisus95/Scrivania/Final_project/data_folder", 
                                b"/home/frisus95/Scrivania/Final_project/data_folder/hashed_21j", 
                                1, 100000, c_double(0.4), 10, 0);

done. Time elapsed: 0.215507 seconds.
33%% of draws have been accepted
chain with dspin 1 destroyed

In [28]:
my_functions._Z5funzav(c_double(3.14))

done. Time elapsed: 0.002927 seconds.
39%% of draws have been accepted

0

chain with dspin 2 destroyed

In [22]:
# Import packages
import os

import matplotlib.pyplot as plt
import pandas as pd

In [15]:
df = pd.read_csv("/home/frisus95/Scrivania/Final_project/data_folder/collected_draws/j_1/N_1000000__sigma_0.4__burnin_100.csv")

In [16]:
df

,intertwiner 1,intertwiner 2,intertwiner 3,intertwiner 4,intertwiner 5,intertwiner 6,intertwiner 7,intertwiner 8,intertwiner 9,intertwiner 10,intertwiner 11,intertwiner 12,intertwiner 13,intertwiner 14,intertwiner 15,intertwiner 16,draw molteplicity,draw amplitude
0,2,0,2,2,1,0,1,0,2,2,0,1,0,2,0,1,4,-2.063960e-07
1,2,0,2,2,1,0,1,0,2,1,0,1,0,2,0,2,3,1.831690e-07
2,1,0,2,2,0,0,1,0,2,0,0,1,1,2,0,2,1,-2.307580e-07
3,1,0,2,2,1,0,1,1,2,0,0,2,1,2,0,2,5,1.127080e-06
4,1,0,2,2,0,0,1,1,2,0,0,2,1,2,0,2,2,1.047860e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201124,2,1,2,1,1,0,1,2,0,0,2,0,0,0,2,2,3,-1.070200e-07
201125,2,1,1,1,1,0,1,2,0,1,2,0,0,0,2,2,1,4.141810e-08
201126,2,2,1,2,0,1,1,2,0,1,2,1,1,0,2,2,8,1.672260e-07
201127,2,2,1,2,0,1,0,2,0,1,2,1,1,1,1,2,2,-2.038570e-07
201128,2,2,1,2,0,0,0,2,0,1,1,1,1,1,2,2,2,-3.002230e-07

In [ ]:
for i, j in df.iterrows():
    print(i, j)
    print()

In [17]:
total_rows = len(df)

In [18]:
columns = list(df)

In [19]:
columns

['intertwiner 1',
 'intertwiner 2',
 'intertwiner 3',
 'intertwiner 4',
 'intertwiner 5',
 'intertwiner 6',
 'intertwiner 7',
 'intertwiner 8',
 'intertwiner 9',
 'intertwiner 10',
 'intertwiner 11',
 'intertwiner 12',
 'intertwiner 13',
 'intertwiner 14',
 'intertwiner 15',
 'intertwiner 16',
 'draw molteplicity ',
 'draw amplitude']

In [20]:

for i in columns:
 
    # printing the third element of the column
    print (df[i][1])

2
0
2
2
1
0
1
0
2
1
0
1
0
2
0
2
3
1.83169e-07

In [21]:
df['intertwiner 1'][100]

0

In [24]:
angle = 0.0

for i in range(total_rows):
      angle += ( ( (df['intertwiner 1'][i])*( df['intertwiner 1'][i]+1) - 2*1*(1+1)) / (2*1*(1+1)))*df['draw molteplicity '][i]

In [25]:
angle/(1000000-100)

-0.3313526352635264